@model IEnumerable<DSS_Clothes.Models.Designer>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Designers(Relation between Clothes and Stores)</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clothes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clothes.ClotheName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stores.StoreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DesignerID">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.DesignerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
